#page17 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
}

.ul-elkamator { 
    top : 70%;
    left: 10%;
 
}

.ul-operativ { 
    top : 100%;
    left: 30%;
}

.ul-lang { 
    top : 50%;
    left: 30%;
}

table {
    padding: 5px;
    border: 5px double;
    background-color: #d1e1e18f;
    float: left;
    
}

ul[class="handson"] > li {
     list-style-type: "… ";
     background-color: #bce1e08f;;
}
    
th { background-color: white; } 