#page20 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
}
.sec-19 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.img-109 {
    border: 1px solid blue;
}

.imgtext-109 {
    font-size: 1.1em;
}

.imgpane-109 {
    border: 1px solid red;
}

